@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import "variable";
* {
  box-sizing: map-get($map:$mapa,$key:box-sizing);
  margin: map-get($map:$mapa,$key:margin);
  padding: map-get($map:$mapa,$key:padding);
  list-style-type: map-get($map:$mapa,$key:list-style-type);
  color : map-get($map:$mapa,$key:color);
  text-decoration: map-get($map:$mapa,$key:text-decoration);
  font-family: "Roboto", sans-serif;
}

a {
  color: #afabaa;
  text-decoration: none;
  &:hover {
  color: #afabaa;
  }
  
}

/*--- General ---*/

.cabecera {
  background-color: #0f0c29;
  color: #afabaa;
  display: flex;

  /*con el display y el space hice que se separen*/
  justify-content: space-between;
  align-items: center;
}

.cMain {
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.logo {
  display: inline;
}

/*Navegacion*/

.nav a {
  color: #afabaa;
  color: red;
}

nav {
  ul {
    @include cero;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  li {
    list-style-type: none;
    padding: 10px;
  }
}

/*Fin Navegacion*/

.sesion {

  filter: invert(100%);
  margin: 0px 20px;
}



.items img {
  &:hover {
    box-shadow: 0 0 20px 2px #fca2ff;
    transform: scale(1.1);
    z-index: 2;
  }

  margin-top: 1.5rem;
  width: 43%;
  height: 90%;
  margin-left: 29%;
  margin-bottom: 3%;
  transition: 1s;
}

.catalogo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/*--- Fin General ---*/

/*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---*/

/*--- Index ---*/

.carrusel {
  width: 100%;
  height: 40%;
}

main h1 {
  text-align: center;
}

/*--- Fin Index ---*/

/*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---*/

/*--- Logeo ---*/

.cuenta {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.cuenta__main {
  width: 350px;
  height: 500px;
  background: #ff0000;
  overflow: hidden;
  background: linear-gradient(to top, #272354, #272354, #272354) no-repeat (center / cover);
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

#chk {
  display: none;
}

.signup {
  position: relative;
  width: 100%;
  height: 100%;
}

.label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.input {
  width: 60%;
  height: 40px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;

  &:hover {
    background: #6d44b8;
  }
}

.login {
  height: 460px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;

  label {
    color: #573b8a;
    transform: scale(0.6);
  }
}

#chk:checked ~ {
  .login {
    transform: translateY(-500px);

    label {
      transform: scale(1);
    }
  }

  .signup label {
    transform: scale(0.6);
  }
}

/*--- Fin Logeo ---*/

/*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---*/

/*--- Soporte ---*/

button {
  border: none;
}

.form--body {
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
  color: black;
  box-shadow: 0 0 10px 0px rgba(234, 207, 238, 0.3);
}

.container--form {
  width: 60%;
  margin: 1rem auto 1rem auto;
}

.form--group {
  margin: 1rem 2rem 1rem 2rem;
  padding: 0.25rem;
  color: black;

  option {
    color: black;
  }
}

.form--control {
  display: block;
  width: 95%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: black;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input--textarea {
  min-height: 120px;
  color: black;
  background-color: rgb(255, 255, 255);
  width: 95%;
  padding: 0.625rem;
  resize: none;
  font-family: "Oswald", sans-serif;
}

.submit--button {
  display: block;
  width: 95%;
  padding: 0.75rem;
  color: black;
  background: #37af65;
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}

.bodyForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Formulario {
  display: flex;
  flex-direction: row;
}

.datos {
  display: flex;
  flex-direction: column;
}

/*--- Fin Soporte ---*/

/*--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---*/

/*--- Juego ---*/

.icon-item img {
  @extend .signup;
  
}

.encabezado {
  display: flex;
  background: #b73533;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  background: transparent;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.propiedades {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}
.tituloPrecio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.botonCompra{
  background-color: #4CAF50; /* Green */
    border: none;
    color: transparent;
    margin: 0px 20px;
    padding: 15% 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    &:hover {
      box-shadow: 0 0 20px 2px #fca2ff;
      transform: scale(1.1);
      z-index: 2;}
    
    
}


.sipnosis {
  padding-top: 35px;
}

.miniatura {
  display: flex;
  flex-direction: row;
  overflow: inherit;
  width: 33.8%;

  
}

.requisitos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/*--- Juego---*/

/* Footer */
footer {
  background-color: #24243e;
  color: #afabaa;
  padding: 10px 0;
  width: auto;
  margin-top: auto;

  p {
    text-align: center;
  }
}
.footer {
  
  padding: px 0;
  background-color: #faebd7;
  color: #b4b9be; }
  .footer__pages {
    padding: 40px 0;
    background-color: #faebd7;
    color: #4b4c4d;
    position: absolute;
    bottom: 0;
    width: 100%; }
  .footer ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0; }
  .footer li {
    padding: 0 10px; }
  .footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8; }
    .footer ul a:hover {
      opacity: 1; }
  .footer .social {
    text-align: center;
    padding-bottom: 25px; }
    .footer .social > a {
      font-size: 24px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      border: 2px solid #ccc;
      margin: 0 8px;
      color: inherit;
      opacity: 0.75; }
      .footer .social > a:hover {
        opacity: 0.9; }
  .footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    color: #aaa;
    margin-bottom: 0; }

.hvr--float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }
  .hvr--float:hover, .hvr--float:focus, .hvr--float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
.btn{
  color: #afabaa;
}
.dropdown-toggle:hover{
color: #afabaa;
}
.animate--text {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #ad06d6 0%, #7831b3 29%, #fca2ff 67%, #afabaa 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  text-align: center; }

@keyframes textclip {
  to {
    background-position: 200% center; } }

/* Iconos */
.ion-social-github:before, .ion-social-instagram:before, .ion-social-twitter:before, .ion-social-facebook:before {
  margin-top: 5px; }

/* Footer fin */


/*---- MEDIA ---*/
@media all and (max-width: 350px) {
  .catalogo {
    height: 100%;
    width: 100%;
    
  }

  .encabezado {
    flex-direction: column;
  }

  .propiedades {
    font-size: 50%;
  }
}
/*---- Fin Media ---*/